body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    align-items: center;
}

header {
    margin-bottom: 15px;
}

#container{
    display: flex;
    height: 500px;
    width: 500px;
    justify-content: stretch;
}

#calcBody {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#screen{
    display: flex;
    padding: 5px;
    border: solid;
    border-width: 1px;
    margin: 10px;   
}

#buttons{
    display: flex;
}

#numbers{
    display: flex;
    width: 400px;
    height: 400px;
    flex-wrap:wrap;
    justify-content: flex-end;
}

#functions{
    display: flex;
    flex-direction: column;
    height: 400px;
}

button {
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

#functions button {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 5px;
}

#numbers button{
    display: flex;
    width: 120px;
    height: 120px;
    margin: 5px;
}

footer {
    margin-top: auto;
    margin-bottom: 5px;
}